<div class="card_display">
    <div class="theme_card" id="card_1">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Dark Masonry</h5>
            <h5> Fontname: Source Sans Pro</h5>
        </div>
        <div class="card-body" id="theme_color_1"></div>
        <div class="card-body" id="theme_color_2"></div>
        <div class="card-body" id="theme_color_3"></div>
        <div class="card-body" id="theme_color_4"></div>
    </div>

    <div class="theme_card" id="card_2">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Sunset</h5>
            <h5>Fontname: Andada Pro</h5>
        </div>
        <div class="card-body" id="theme_color_5"></div>
        <div class="card-body" id="theme_color_6"></div>
        <div class="card-body" id="theme_color_7"></div>
        <div class="card-body" id="theme_color_8"></div>
    </div>

    <div class="theme_card" id="card_3">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Beach</h5>
            <h5>Fontname: Anton</h5>
        </div>
        <div class="card-body" id="theme_color_9"></div>
        <div class="card-body" id="theme_color_10"></div>
        <div class="card-body" id="theme_color_11"></div>
        <div class="card-body" id="theme_color_12"></div>
    </div>

    <div class="theme_card" id="card_4">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Forest</h5>
            <h5>Fontname: BioRhyme</h5>
        </div>
        <div class="card-body" id="theme_color_13"></div>
        <div class="card-body" id="theme_color_14"></div>
        <div class="card-body" id="theme_color_15"></div>
        <div class="card-body" id="theme_color_16"></div>
    </div>

    <div class="theme_card" id="card_5">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Dusk</h5>
            <h5>Fontname: Cormorant</h5>
        </div>
        <div class="card-body" id="theme_color_17"></div>
        <div class="card-body" id="theme_color_18"></div>
        <div class="card-body" id="theme_color_19"></div>
        <div class="card-body" id="theme_color_20"></div>
    </div>

    <div class="theme_card" id="card_6">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Techno</h5>
            <h5>Fontname: Hahmlet</h5>
        </div>
        <div class="card-body" id="theme_color_21"></div>
        <div class="card-body" id="theme_color_22"></div>
        <div class="card-body" id="theme_color_23"></div>
        <div class="card-body" id="theme_color_24"></div>
    </div>

    <div class="theme_card" id="card_7">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Red Alert</h5>
            <h5>Fontname: JetBrains Mono</h5>
        </div>
        <div class="card-body" id="theme_color_25"></div>
        <div class="card-body" id="theme_color_26"></div>
        <div class="card-body" id="theme_color_27"></div>
        <div class="card-body" id="theme_color_28"></div>
    </div>

    <div class="theme_card" id="card_8">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Egg Hunt</h5>
            <h5>Fontname: Nunito</h5>
        </div>
        <div class="card-body" id="theme_color_29"></div>
        <div class="card-body" id="theme_color_30"></div>
        <div class="card-body" id="theme_color_31"></div>
        <div class="card-body" id="theme_color_32"></div>
    </div>

    <div class="theme_card" id="card_9">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: UW </h5>
            <h5>Fontname: Encode Sans</h5>
        </div>
        <div class="card-body" id="theme_color_33"></div>
        <div class="card-body" id="theme_color_34"></div>
        <div class="card-body" id="theme_color_35"></div>
        <div class="card-body" id="theme_color_36"></div>
    </div>

    <div class="theme_card" id="card_10">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Monochrome</h5>
            <h5>Fontname: Raleway</h5>
        </div>
        <div class="card-body" id="theme_color_37"></div>
        <div class="card-body" id="theme_color_38"></div>
        <div class="card-body" id="theme_color_39"></div>
        <div class="card-body" id="theme_color_40"></div>
    </div>

    <div class="theme_card" id="card_11">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Autumn</h5>
            <h5>Fontname: Roboto</h5>
        </div>
        <div class="card-body" id="theme_color_41"></div>
        <div class="card-body" id="theme_color_42"></div>
        <div class="card-body" id="theme_color_43"></div>
        <div class="card-body" id="theme_color_44"></div>
    </div>

    <div class="theme_card" id="card_12">
        <div class="card-header" id="theme_description">
            <h5>Color Theme: Masonry Default</h5>
            <h5>Fontname: Sora</h5>
        </div>
        <div class="card-body" id="theme_color_45"></div>
        <div class="card-body" id="theme_color_46"></div>
        <div class="card-body" id="theme_color_47"></div>
        <div class="card-body" id="theme_color_48"></div>
    </div>