<section style="display: none;">
{{#each themes}}
<div class = "card_container">
<div class="card_display grid-item">
    <div class="theme_card text-center" id="{{id}}">
        <div class="card-header" id="theme_description">
            <h5>{{name}}</h5>
        </div>
        <img src="http://placekitten.com/200/300" alt="">
    </div>
</div>
</div>
{{/each}}
</section>
<script src="/js/updateTheme.js"></script>
