* {
    box-sizing: border-box;
}

.grid {
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.card_container {
    width: 33%;
}

.grid-item {
    float: left;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

