* {
    box-sizing: border-box;
}

.grid {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

/* clear fix */
.grid:after {
    content: '';
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer {
    width: 33%;
}

/* .card_container {
    width: 100% !important;
    margin: auto !important;
    text-align: center !important;
} */

.grid-item {
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin: 30px;

}
.grid-item:hover > .card-header{
    background-color: #a2c
}

.grid-item img {
    width: 680px;
    height: 360px;

}

.signup_bckgrd{
    background: #d8d6d2;
}

#log_sign {
    /* background: #d8d6d2; */
    color: #d26;

}

#signBtn {
    background-color: #d26
}

#signBtn:hover {
    background-color: #a2c
}